.auth-popup {
  max-width: 400px;
}

.form-group {
  &-title {
    padding: 20px;

    font-size: 24px;
  }
}

.login-error {
  border: 1px solid #f84147;
  border-radius: 4px;

  padding: 12px;
  margin: 15px 0 0 0;

  background-color: rgba(248, 65, 71, 0.1);
}

.large-btn {
  width: 100%;

  margin: 20px 0 0 0;

  text-align: center;
}

.auth-switch-link {
  text-decoration: none;
  font-size: 16px;
  color: #3e77aa;
  cursor: pointer;

  &:hover {
    color: #ff7878;
    text-decoration: underline;
  }

  &-wrapper {
    margin: 15px 0 0 0;

    text-align: center;
  }
}
