<div class="auth-popup">
  <form class="form-group">
    <h3 class="form-group-title">
      Log in
    </h3>
    <div class="form-controls-wrapper">
      <div class="form-control-wrapper">
        <label class="form-label">Email</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-control-wrapper">
        <label class="form-label">Password</label>
        <input type="text" class="form-control">
      </div>
      <input type="submit" class="large-btn" value="Log in">
    </div>
  </form>
</div>