.container {
  max-width: 1050px;
}

.checkout {
  &-title {
    font-size: 36px;

    margin: 35px 0 0 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
  
    margin: 40px 0 0 0;
  }

  &-form {
    width: 100%;

    margin: 0 50px 0 0;

    &-item {
      position: relative;

      padding: 0 0 0 40px;
      margin: 15px 0 0 0;

      &-cyrcle {
        position: absolute;
        left: 0;
        top: 0;

        width: 24px;
        height: 24px;

        border-radius: 50%;

        background-color: #e9e9e9;
        text-align: center;
        line-height: 24px;
      }

      &-title {
        font-size: 16px;
      }
    }

    &-contact-data {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .form-control-wrapper {
        width: 48%;
      }
    }
  }
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  border-bottom: 1px solid #e9e9e9;

  padding: 0 0 20px 0;
  margin: 50px 0 0 0;

  &-title {
    margin: 0;

    font-size: 28px;
  }
}