<div class="container">
  <h2 class="checkout-title">Checkout</h2>
  <div class="checkout-content">
    <form class="checkout-form">
      <div class="checkout-form-item">
        <div class="checkout-form-item-cyrcle">!</div>
        <div class="checkout-form-item-title">Your contact data</div>
        <div class="checkout-form-contact-data">
          <div class="form-control-wrapper">
            <label class="form-wrapper">Surname</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-control-wrapper">
            <label class="form-wrapper">Name</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-control-wrapper">
            <label class="form-wrapper">Phone</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-control-wrapper">
            <label class="form-wrapper">City</label>
            <input class="form-control" type="text">
          </div>
        </div>
      </div>
      <div class="order">
        <h3 class="order-title">Order</h3>
        <div class="order-price">for the price: </div>
      </div>
      <div class="checkout-form-item">
        <div class="checkout-form-item-cyrcle">1</div>
        <div class="checkout-form-item-title">Products</div>
        <div class="checkout-products">
          <app-checkout-product
            *ngFor="let productToCheckout of productsToCheckout"
            [productToCheckout]="productToCheckout">
          </app-checkout-product>
        </div>
      </div>
      <div class="checkout-form-item">
        <div class="checkout-form-item-cyrcle">2</div>
        <div class="checkout-form-item-title">Shipping</div>
      </div>
    </form>
    <app-checkout-side-bar></app-checkout-side-bar>
  </div>
</div>
