<form class="contact-data-form" [formGroup]="contactForm">
  <div class="form-control-wrapper">
    <label class="form-wrapper">Surname</label>
    <input class="form-control" formControlName="surname" type="text">
  </div>
  <div class="form-control-wrapper">
    <label class="form-wrapper">Name</label>
    <input class="form-control" formControlName="name" type="text">
  </div>
  <div class="form-control-wrapper">
    <label class="form-wrapper">Phone</label>
    <input class="form-control" formControlName="phone" type="text">
  </div>
  <div class="form-control-wrapper">
    <label class="form-wrapper">Adress</label>
    <input class="form-control" formControlName="adress" type="text">
  </div>
</form>
