<form class="contact-data-form" [formGroup]="contactForm">
  <div class="form-control-wrapper" [class.error]="contactForm.get('surname')?.invalid && contactForm.get('surname')?.touched">
    <label class="form-wrapper">Surname</label>
    <input
      class="form-control"
      formControlName="surname"
      type="text"
      (blur)="patchContactInfo()"
      (input)="contactFormInput()"
    >
    <div class="validation" *ngIf="contactForm.get('surname')?.invalid && contactForm.get('surname')?.touched">
      <div class="validation-item">
        Type your real surname
      </div>
    </div>
  </div>
  <div class="form-control-wrapper" [class.error]="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
    <label class="form-wrapper">Name</label>
    <input
      class="form-control"
      formControlName="name"
      type="text"
      (blur)="patchContactInfo()"
    >
    <div class="validation" *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
      <div class="validation-item">
        Type your real name
      </div>
    </div>
  </div>
  <div class="form-control-wrapper" [class.error]="contactForm.get('number')?.invalid && contactForm.get('number')?.touched">
    <label class="form-wrapper">Number</label>
    <input
      class="form-control"
      formControlName="number"
      type="text" 
      (blur)="patchContactInfo()"
    >
    <div class="validation" *ngIf="contactForm.get('number')?.invalid && contactForm.get('number')?.touched">
      <div class="validation-item">
        Type your number
      </div>
    </div>
  </div>
  <div class="form-control-wrapper" [class.error]="contactForm.get('city')?.invalid && contactForm.get('city')?.touched">
    <label class="form-wrapper">City</label>
    <input
      class="form-control"
      formControlName="city"
      type="text"
      (blur)="patchContactInfo()"
    >
    <div class="validation" *ngIf="contactForm.get('city')?.invalid && contactForm.get('city')?.touched">
      <div class="validation-item">
        Type your city
      </div>
    </div>
  </div>
</form>
