.reviews-form-popup {
  max-width: 640px;

  &-content {
    padding: 20px 25px;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;

    margin: 30px 0 0 0;

    .medium-btn {
      width: 48%;
    }
  }
}

.reviews-form {
  &-rating {
    display: flex;
    justify-content: space-around;

    &-item {
      flex: 1 1 0;

      text-align: center;
      cursor: pointer;

      &-star {
        font-size: 26px;
        color: #d2d2d2;
  
        &.active {
          color: #ffa900;
        }
      }

      &-label {
        margin: 18px 0 0 0;
      }
    }
  }
}
