<div class="container">
  <h2 class="product-title">
    {{ product ? product.title : '' }}
  </h2>
</div>
<mat-tab-group>
  <mat-tab label="All about product">
    <div class="container about-product-container">
      <div class="product-images">
        <ul class="product-images-sidebar">
          <li
            class="product-images-sidebar-item"
            *ngFor="let imgUrl of imgUrls | sortImgByIndex"
            [class.active]="imgUrl.url === activeImgUrl"
            (mouseenter)="setActiveImg(imgUrl.url)"
          >
            <img src="{{ imgUrl.url }}" alt="Lorem ipsum">
          </li>
        </ul>
        <div
          class="product-images-big-img-wrapper"
          [class.active]="imgUrl.url === activeImgUrl"
          *ngFor="let imgUrl of imgUrls"
        >
          <div class="product-images-big-img" *ngIf="imgUrl.url === activeImgUrl">
            <img src="{{ imgUrl.url }}" alt="Lorem ipsum">
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Characteristics"> Content 2 </mat-tab>
  <mat-tab label="Reviews"> Content 3 </mat-tab>
</mat-tab-group>
