<div class="container">
  <h2 class="product-title">
    {{ product ? product.title : '' }}
  </h2>
</div>
<mat-tab-group>
  <mat-tab label="All about product">
    <div class="container about-product-container">
      <div class="product-images">
        <ul class="product-images-sidebar">
          <li
            class="product-images-sidebar-item"
            *ngFor="let imgUrl of imgUrls"
            [class.active]="imgUrl.url === activeImgUrl"
            (mouseenter)="setActiveImg(imgUrl.url)"
          >
            <img src="{{ imgUrl.url }}" alt="Lorem ipsum">
          </li>
        </ul>
        <div
          class="product-images-big-img-wrapper"
          [class.active]="imgUrl.url === activeImgUrl"
          *ngFor="let imgUrl of imgUrls"
        >
          <div class="product-images-big-img" *ngIf="imgUrl.url === activeImgUrl">
            <img src="{{ imgUrl.url }}" alt="Lorem ipsum">
          </div>
        </div>
      </div>
      <div class="product-buy-info">
        <div class="product-available-status">
          <div class="product-is-available" *ngIf="product?.amount ">
            <fa-icon [icon]="faCheckCircle"></fa-icon> Available
          </div>
          <div class="product-is-not-available" *ngIf="!product?.amount">
            <fa-icon [icon]="faMinusCircle"></fa-icon> Not available
          </div>
        </div>
        <div class="product-buy-btn-wrapper" *ngIf="userData">
          <span class="product-price">
            {{ product?.price }} <span class="hrivna-symbol">₴</span>
          </span>
          <button class="large-btn product-buy-btn green-btn" (click)="addProductToCart()" *ngIf="!showAlreadyInCartBtn">
            <fa-icon [icon]="faShoppingCart"></fa-icon> Buy
          </button>
          <button class="already-in-cart large-btn" (click)="alreadyInCartClick()" *ngIf="showAlreadyInCartBtn">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            <span class="already-in-cart-text">In Cart</span>
          </button>
        </div>
        <div class="product-seller">
          Seller: <b>{{ product?.seller }}</b>
        </div>
        <div class="product-payment" *ngIf="product?.payment">
          <div class="product-payment-title">
            Payment
          </div>
          <div class="product-payment-body">
            {{ product.payment }}
          </div>
        </div>
        <div class="product-guarantees" *ngIf="product?.guarantees">
          <div class="product-guarantees-title">
            Guarantees
          </div>
          <div class="product-guarantees-body">
            {{ product.guarantees }}
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Characteristics">
    <app-characteristics [product]="product"></app-characteristics>
  </mat-tab>
  <mat-tab label="Reviews">
    <app-reviews [product]="product" (reviewsFormShow)="onReviewsFormShow()"></app-reviews>
  </mat-tab>
</mat-tab-group>
<app-reviews-form-popup [product]="product" *ngIf="showReviewsForm && product"></app-reviews-form-popup>