<header class="header">
  <div class="container header-wrapper">
    <button class="sidenav-toggle-btn" mat-mini-fab (click)="sidenavToggle()">
      <img src="../../../assets/img/icons/toggle-menu.png" alt="Lorem ipsum">
    </button>
    <span [routerLink]="['/']" class="header-title">Angular Shop</span>
    <button class="catalog-btn" (click)="showCategoriesPopup()">
      Каталог
    </button>
    <div class="search">
      <img class="search-icon" src="../../../assets/img/icons/search.png" alt="Lorem ipsum">
      <input
        class="search-input" 
        type="text"
        placeholder="Search"
        matInput
        [formControl]="searchInput"
        [matAutocomplete]="auto"
        (keydown.enter)="searchByString(searchInput.value)"
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let product of products | filterByString:searchInput.value:5" [value]="product.title" (click)="searchByString(searchInput.value)">
          {{ product.title }}
        </mat-option>
      </mat-autocomplete>
      <button class="search-button green-btn" mat-raised-button (click)="searchByString(searchInput.value)">
        <span class="search-button-text">Search</span>
      </button>
    </div>
    <button class="user-btn" (click)="showAuthPopup()">
      <fa-icon [icon]="faUser"></fa-icon>
    </button>
  </div>
  <app-catalog-popup [categories]="categories" *ngIf="showCatalog"></app-catalog-popup>
  <app-auth-popup *ngIf="showAuth"></app-auth-popup>
</header>