.header {
  background-color: #221f1f;

  &-wrapper {
    height: 70px;
    display: flex;
    align-items: center;
  }
}

.header-title {
  min-width: 230px;
  
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.sidenav-toggle-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0 25px 0 0;

  & img {
    width: 25px;
  }
}

.catalog-btn {
  width: 125px;
  height: 40px;

  border-radius: 5px;

  margin-right: 16px;

  background-color: hsla(0, 0%, 100%, .2);
  font-size: 16px;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: hsla(0, 0%, 100%, .4);
  }
}

.catalog-modal {
  position: absolute;
  top: 100%;

  background-color: red;

  &-container {
    position: relative;
  }
}

.search {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;

  &-icon {
    position: absolute;
    left: 8px;

    width: 20px;
  }

  &-input {
    width: 100%;
    height: 40px;

    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    padding: 0 15px 0 35px;
  
    outline: none;
    font-size: 15px;

    &::placeholder {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      font-size: 15px;
      color: #929292;
    }
  }

  &-button {
    position: relative;

    width: 64px;
    height: 40px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background-color: #00a046;

    &-text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}