<div class="container catalog-popup-container">
  <div class="catalog-popup">
    <div class="catalog-categories">
      <a
        *ngFor="let category of categories"
        class="catalog-category"
        [routerLink]="['search']"
        [queryParams]="{category: category.title}"
        [class.active]="category === activeCategory"
        (mouseenter)="setActiveCategory(category)"
        (click)="hideBackdrop()"
      >
        {{ category.title }}
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </a>
    </div>
    <div class="catalog-subcategories" *ngIf="activeCategory">
      <a 
        *ngFor="let subCategory of activeCategory.subCategories"
        class="catalog-subcategory"
        [routerLink]="['search']"
        [queryParams]="{category: activeCategory.title, subCategory: subCategory.title}"
        [class.active]="subCategory === activeSubCategory"
        (mouseenter)="setActiveSubCategory(subCategory)"
        (click)="hideBackdrop()"
      >
        {{ subCategory.title }}
      </a>
    </div>
  </div> 
</div>
