*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;

  box-sizing: border-box;
}

html, body {
  height: 100%;
  
  color: #221f1f;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*Angular Material*/

/*Mat tabs*/

.container,
.mat-tab-labels { 
  max-width: 1500px;
  
  margin: 0 auto;
  padding: 0 15px;
}

.mat-tab-list {
  background-color: #f5f5f5;
}

.mat-tab-labels .mat-tab-label {
  opacity: 1;
}

.mat-tab-label {
  color: #3e77aa;
}

.mat-tab-label-active {
  color: #00a046;
}

.mat-tab-group.mat-primary .mat-ink-bar  {
  background-color: #00a046;
}

/*Mat radio*/


.mat-radio-outer-circle {
  border-color: #d2d2d2;
}

mat-radio-button:hover .mat-radio-outer-circle {
  border-color: #333;
}

mat-radio-button .mat-radio-label-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*Buttons*/

.large-btn {
  height: 50px;

  border-radius: 4px;

  padding: 0 17px;

  font-size: 18px;
  cursor: pointer;
}

.medium-btn {
  height: 40px;

  border-radius: 4px;

  padding: 0 17px;

  font-size: 16px;
  cursor: pointer;
}

.blue-btn {
  background-color: #3e77aa;
  color: #fff;
  outline: none;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #31a3db;
  }
}

.green-btn {
  background-color: #00a046;
  color: #fff;
  outline: none;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #00bc52;
  }
}

.grey-btn {
  background-color: #f5f5f5;
  box-shadow: inset 0 0 0 1px #ebebeb;
  color: #3e77aa;
  outline: none;
  transition: color .2s ease-in-out;

  &:hover {
    color: #4096e3;
  }
}

/*Forms*/

.form-controls-wrapper {
  padding: 0 20px 20px 20px;
}

.form-label {
  display: block;
  
  margin-bottom: 3px;

  font-size: 12px;
  color: #797878;
}

.form-control {
  width: 100%;
  height: 40px;

  border: 1px solid #d2d2d2;
  border-radius: 4px;

  padding: 0 12px;

  outline: none;
  transition: border .2s ease-in-out;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;

  &:hover,
  &:focus {
    border-color: #a6a5a5;
  }

  &-wrapper {
    margin: 15px 0 0 0;

    &.error {
      .form-control {
        border-color: #f84147;
      }
    }
  }
}

textarea.form-control {
  height: auto;

  padding-top: 8px;

  resize: vertical;
}

.validation-item {
  margin-top: 4px;

  color: #f84147;
  font-size: 12px;
}

/*Popups*/

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  width: 100%;

  border-radius: 8px;

  background-color: #fff;
  box-shadow: 0 8px 40px rgb(0 0 0 / 32%);

  &-title {
    position: relative;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #e9e9e9;

    padding: 18px 25px;
    
    color: #221f1f;
    font-size: 24px;
    font-weight: 400;
  }
}

.close-popup-btn {
  position: absolute;
  right: 0;
  top: 0;

  height: 100%;
  width: 56px;

  border-radius: 8px;

  background-color: rgba(255, 255, 255, 0);;
  color: #797878;
  font-size: 30px;
  cursor: pointer;
  transition: all .2s linear;

  &:hover {
    color: #f84147;
  }
}

/*Cabinet*/

h2.cabinet-title {
  margin: 35px 0 30px 0;

  font-size: 36px;
  font-weight: 400;
}