<div class="container">
  <div class="characteristics">
    <h2 class="characteristics-title">
      Characteristics <span>{{ product.title }}</span>
    </h2>
    <div class="characteristics-list">
      <div class="characteristics-list-item" *ngFor="let characteristic of product.characteristics">
        <div class="characteristics-list-item-name">
          <span class="characteristics-list-item-name-wrapper">{{ characteristic.name }}</span>
          <span class="span-with-border">t</span>
        </div>
        <div class="characteristics-list-item-value">{{ characteristic.value }}</div>
      </div>
    </div>
  </div>
  <app-product-side-buy-bar [product]="product"></app-product-side-buy-bar>
</div>